.aArticlesList
  display: inline-grid
  grid-template-columns: 1fr

  @include for-tablet-portrait-up
    grid-template-columns: 1fr 1fr 1fr

  &-item
    margin-bottom: 40px

    &:last-child
      margin-bottom: 0

    @include for-tablet-portrait-up
      margin: 0 20px

      &:first-child
        margin-left: 0

      &:last-child
        margin-right: 0

